@model Freelancer.Entities.JobAdvertisement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobAdvertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertisementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertisementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
